<%= form_for @admin, :url => password_reset_path(params[:id]) do |f| %>
  <% if @admin.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in @admin.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Contrase침a" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Confirmaci칩n de contrase침a" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "Editar Contrase침a" %></div>
<% end %>