<div class= "well clearfix span7 offset1">
<%= form_for(@admin, id:'admin_form') do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> No se pudo guardar:</h2>

      <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Contraseña" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Confirmación de contraseña" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label "Rol" %><br>
    <%= f.select :role, ["admin", "municipalidad", "juez"], include_blank: false %>
  </div>
  <div class="actions">
    <%= f.submit @new %>
  </div>
<% end %>
</div>