<div class= "well clearfix span7 offset1">
<%= form_for(@user, class: "span5 offset3")  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> No se pudo guardar:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre de usuario" %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label "Contraseña" %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label "Nombre" %><br>
    <%= f.text_field :first_name %>
  </div>
   <div class="field">
    <%= f.label "Apellido" %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label "Comisaría" %><br>
    <%= f.text_field :precint %>
  </div>
 
  <div class="field">
    <%= f.label "n° Juzgado" %><br>
    <%= f.number_field :courthouse_number %>
  </div>
  <div class="field">
    <%= f.label "Ciudad de juzgado" %><br>
    <%= f.text_field :courthouse_city %>
  </div>
   <div class="field">
    <%= f.label "placa" %><br>
    <%= f.text_field :plaque %>
  </div>
  <div class="field">
    <%= f.label "rango" %><br>
    <%= f.text_field :rank %>
  </div>
  <div class="actions">
    <%= f.submit @new %>
  </div>
<% end %>
</div>