<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Currency">
      <NumberFormat ss:Format="Currency" />
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Folio</Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Apellido</Data></Cell>
        <Cell><Data ss:Type="String">Costo Total</Data></Cell>
        <Cell><Data ss:Type="String">Dirección</Data></Cell>
        <Cell><Data ss:Type="String">Comuna</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Fecha</Data></Cell>
        <Cell><Data ss:Type="String">Infracciones</Data></Cell>
        <Cell><Data ss:Type="String">Descripción</Data></Cell>
        <Cell><Data ss:Type="String">Vehículo</Data></Cell>
        <Cell><Data ss:Type="String">Patente</Data></Cell>
        <Cell><Data ss:Type="String">Carabinero</Data></Cell>
      </Row>
    <% @tickets.each do |ticket| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= ticket.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.last_name %></Data></Cell>
        <Cell><Data ss:ID="Currency" ss:Type="Number"><%= ticket.total_cost %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.address %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.location %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.date.strftime("%d/%m/%Y %I:%M%p") %></Data></Cell>
        <Cell><Data ss:Type="String">
          <%= ticket.infractions.map { |e| e.type_of_infraction }.join(', ') %>
        </Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.vehicle %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.vehicle_plate %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ticket.user.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>